<div class="row">
  <div class="col m9">&nbsp;</div>
  <div class="col m3 s12">
    <a href="#people/{{_id}}" class="waves-effect waves-light btn">{{p 'menu.view'}}
      <i class="material-icons right">remove_red_eye</i>
    </a>
  </div>
</div>

<h3>{{p 'tree.title' .}}</h3>

<div class="row">
  <div class="col m8 s12">&nbsp;</div>
  <div class="col m4 s12">
    <label>
      <input name="withDate" type="checkbox" data-prop="date" checked="checked">
      <span>{{p 'tree.options.with_dates'}}</span>
    </label>
  </div>
  <div class="col m8 s12">&nbsp;</div>
  <div class="col m4 s12">
    <label>
      <input name="withAvatar" type="checkbox" data-prop="avatar" checked="checked">
      <span>{{p 'tree.options.with_avatars'}}</span>
    </label>
  </div>
  <div class="col m8 s12">&nbsp;</div>
  <div class="col m4 s12">
    <label>
      <input name="withName" type="checkbox" data-prop="name" checked="checked">
      <span>{{p 'tree.options.with_names'}}</span>
    </label>
</div>

<div class="row">
  <div class="col s12 tree">
    <ul>
      <li>
        {{> treeNodeRecursive.partial.hbs}}
      </li>
    </ul>
  </div>
</div>

<div class="stats"></div>
