<h4>{{p 'stats.title'}}</h4>

<div class="row">
  <div class="col s12 m6 l4">
    <blockquote>{{p 'stats.people_count' peopleCount}}</blockquote>
  </div>
  <div class="col s12 m6 l4">
    <blockquote>{{> genderSymbol.partial.hbs true}} {{p 'stats.male_count' maleCount}}</blockquote>
  </div>
  <div class="col s12 m6 l4">
    <blockquote>{{> genderSymbol.partial.hbs false}} {{p 'stats.female_count' femaleCount}}</blockquote>
  </div>
  {{#if averageAge}}
    <div class="col s12 m6 l4">
      <blockquote>{{p 'stats.average_age'}}: {{averageAge}}</blockquote>
    </div>
  {{/if}}
</div>
