{{#if peopleWithUpcomingBirthdays}}

<h4>{{p 'celebrations.title'}}</h4>

<div class="row">
  {{#each peopleWithUpcomingBirthdays}}
    <div class="col s12 m6 l4">
      <blockquote>{{readableDayMonth nextBirthday}}: {{firstName}} {{lastName}}{{p 'celebrations.turning' nextAge}}</blockquote>
    </div>
  {{/each}}
</div>

{{/if}}