{{#if peopleWithUpcomingBirthdays}}

<h4>{{p 'celebrations.title'}}</h4>

<div class="row">
  {{#each peopleWithUpcomingBirthdays}}
    <div class="col s12 m6 l4">
      <blockquote>{{readableDayMonth nextBirthday}}: {{firstName}} {{lastName}}, {{add age 1}} {{p 'age_unit'}}</blockquote>
    </div>
  {{/each}}
</div>

{{/if}}