<div class="col s6 m3">
    <div class="card">
        <div class="card-image">
            <div class="directory-img {{#if isMale}}m{{else}}f{{/if}}"
                 {{#avatarUrl}}style="background-image:url({{.}});"{{/avatarUrl}}></div>
            <span class="card-title shadowed">{{firstName}} {{lastName}}</span>
        </div>
        <div class="card-content clearfix">
            {{#if maidenName}}<p>Maiden name: {{maidenName}}</p>{{/if}}
            <p>Gender: {{> genderSymbol isMale}}</p>
            {{#if birthDate}}<p>Birth date: {{birthDate}}</p>{{/if}}
            {{#if deathDate}}<p>Death date: {{deathDate}}</p>{{/if}}
        </div>
        <div class="card-action">
            <a href="#people/{{_id}}">View</a>
            <a href="#family/{{_id}}">Show tree</a>
            <a href='#people/{{_id}}/edit'>Edit</a>
        </div>
    </div>
</div>